body{
  background: tomato;
  font-family: Arial, 
}
img{
  transition: 1s;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  position: relative;
  left: -40%;
}
img.b-loaded{
  opacity: 1;
  left: 0;
}
figcaption{
  background: white;
  text-align: center;
  font-size: 18px;
  padding: 15px 10px;
  border-bottom: 5px solid gray;
}
figure{
  /*border: 10px solid red;*/
  background-image: url('img/ro.gif');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 700px;
  margin: 0 auto;

}